    body {
    margin: 0 auto;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #container {
        margin-top: 200px;
        width: 400px;
        height: 100px;
        border: 1px solid #777;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: greenyellow;
    }
    h2 {
        font-size: 2em;
        color: blue;
    }
    h3 {
        font-size: 1.2em;
        color: red;
    }